// @mixin mobile {
//   // .content{
//   //   display: none;
//   // }
//   display: none;
// }

.content {
    // display: flex;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    // height: 6666px;
  //   @include mobile() {
  //     // display: none;
  // }
  // @include mobile();
 &__logo {
      display: flex;
      justify-content: center;
      img {
        width: 904px;
        height: 94px;
        margin: 96px 508px;
        object-fit: cover;
      }
    }
    
  }
  @media screen and(max-width:47.9375em) {
    .content{
      &__logo{
      
        img{
            max-width: 100%;
            height: 32px;
            margin: 5px 0;
        }
    }
  }
}
  


