.content__featured {
  text-align: center;
  h1 {
    font-family: "Josefin Sans";
    font-size: 42px;
    line-height: 49px;
    color: #1a0b5b;
    margin-top: 129px;
    margin-bottom: 49px;
  }
  &__products {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    justify-content: center;
    column-gap: 1%;
    height: 361px;
    margin: auto 376px;
    margin-left: 376px;
    &__product {
      height: 361px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      background: #ffffff;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      &__images {
        background: #f6f7fb;
        height: 236px;
      }
      &__info {
        height: 125px;
        h2 {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          height: 22px;
          /* identical to box height */

          /* pink */

          color: #fb2e86;
        }
        &__active {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          margin: 12px 0px;
          &__active1 {
            background: #05e6b7;
            border-radius: 10px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
          }
          &__active2 {
            background: #f701a8;
            border-radius: 10px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
          }
          &__active3 {
            background: #00009d;
            border-radius: 10px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
          }
        }
        &__code {
          font-family: "Josefin Sans";
          font-size: 14px;
          line-height: 16px;

          /* Text */

          color: #151875;
        }
        &__price {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          /* Text */

          color: #151875;
        }
      }
    }
    &__product1 {
      height: 361px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      // margin-left: 29px;
      background: #ffffff;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      &__images {
        background: #f6f7fb;
        height: 236px;
        position: relative;
        justify-self: center;
        button {
          position: absolute;
          background: #08d15f;
          border-radius: 2px;
          outline: none;
          border: none;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%);
          width: 94px;
          height: 29px;
          font-family: "Josefin Sans";
          font-size: 12px;
          line-height: 14px;

          color: #ffffff;
        }
        &__vector {
          position: absolute;
          display: flex;
          text-align: center;
          align-items: center;
          gap: 17px;
        }
      }
      &__info {
        height: 125px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        h2 {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          height: 22px;
          margin-bottom: 0px;
          /* identical to box height */

          /* pink */

          color: #fb2e86;
        }
        &__active {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;

          &__active1 {
            background: #05e6b7;
            border-radius: 10px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
          }
          &__active2 {
            background: #f701a8;
            border-radius: 10px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
          }
          &__active3 {
            background: #00009d;
            border-radius: 10px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
          }
        }
        &__code {
          font-family: "Josefin Sans";
          font-size: 14px;
          line-height: 16px;

          /* Text */

          color: #151875;
        }
        &__price {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          /* Text */

          color: #151875;
        }
      }
    }
  }
  &__footer {
    margin-top: 53px;
    img {
      margin-right: 6px;
    }
  }
}
@media screen and (max-width: 48em) {
  .content__featured{
    max-width: 98%;
  }
  .content__featured h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .content__featured__products {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    justify-content: center;
    column-gap: 10px;
    row-gap: 30px;
    margin: auto 0;
  }
  .content__featured__products__product{
    height: 240px;
  }
  .content__featured__products__product__images {
    height: 160px;
  }
  .content__featured__products__product__images img {
    width: 150px;
    height: 150px;
  }
  .content__featured__products__product__info{
    height: 75px;
  }
  .content__featured__products__product__info h2{
    font-size: 11px;
    line-height: 11px;
    height: 10px;
  }
  .content__featured__products__product__info__code{
    font-size: 9px;
    line-height: 9px;
  }
  .content__featured__products__product__info__price{
    font-size: 9px;
    line-height: 9px;
  }
  .content__featured__products__product1{
    height: 240px;
  }
  .content__featured__products__product1__images {
    height: 160px;
  }
  .content__featured__products__product1__info{
    height: 80px;
  }
  .content__featured__products__product1__info h2{
    font-size: 11px;
    line-height: 11px;
    height: 11px;
  }
  .content__featured__footer{
    display: none;
  }
}
@media screen and (min-width: 48.0625em) and(max-width:92em){
  .content__featured{
    margin-bottom: 20%;
    &__products{
      max-width: 98%;
      grid-template-columns: 25% 25% 25% 25%;
      row-gap: 10%;
      height: auto;
      margin: 0;
    }
    &__footer{
      display: none;
    }
  }
}
