.footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    &__top {
      height: 479px;
      background-color: #eeeffb;
    }
    &__bot {
      height: 53px;
      background-color: #e7e4f8;
    }
  }
  .footer {
    width: 100%;
    &__top {
      display: flex;
      justify-content: center;
      &__body {
        display: flex;
        &__info {
          padding-top: 90px;
          h1 {
            font-family: "Josefin Sans";
            font-size: 38px;
            line-height: 45px;
  
            color: #000000;
          }
          &__search {
            border-radius: 3px;
            height: 44px;
            width: 377px;
            box-sizing: border-box;
            display: flex;
            background-color: #ffffff;
            justify-content: center;
            align-items: center;
            input {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              width: 377px;
              height: 39px;
              border: none;
              outline: none;
              padding: 0;
              /* sub text color */
  
              color: #8a8fb9;
            }
            button {
              background-color: #fb2e86 !important;
              border-radius: 3px;
              width: 135px;
              height: 39px;
              border: none;
              outline: none;
              padding: 0;
            }
          }
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-top: 25px;
            /* sub text color */
  
            color: #8a8fb9;
          }
        }
        &__pages {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin-left: 71px;
  
          color: #000000;
          h1 {
            font-family: "Josefin Sans";
            font-size: 22px;
            line-height: 26px;
            padding-top: 94px;
          }
          p {
            color: #8a8fb9;
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
    &__bot {
      display: flex;
      // text-align: center;
      justify-content: center;
      &__info {
        display: flex;
        justify-content: space-between;
        width: 50%;
        &__content {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
  
          color: #9da0ae;
        }
        &__icons {
          display: grid;
          grid-template-columns: 19.42px 19.42px 19.42px;
          column-gap: 10.87px;
          padding: 17px 0px;
          color: white;
          align-items: center;
          text-align: center;
          justify-content: center;
          &__circle {
            background-color: #151875;
            width: 19.42px;
            height: 19.42px;
            border-radius: 9.71px;
            i {
              left: 36.8%;
              right: 24.3%;
              top: 12.5%;
              bottom: 12.51%;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width:47.9375em) {
    .footer{
      &__top{
        height: auto;
        max-width: 98%;
        &__body{
          display: flex;
          flex-direction: column;
          height: auto;
          max-width: 90%;
          margin: 0px 10px;
          &__info{
            &__search{
              max-width: 100%;
            }
          }
          &__pages{
            margin-left: 0px;
            h1{
              margin: 0;
              padding-top: 20px;
            }
            p{
              margin: 5px;
            }
          }
        }
      }
      &__bot{
        max-width: 98%;
        height: auto;
        &__info{
          height: auto;
          width: 100%;
          &__content{
            font-size: 15px;
            line-height: 15px;
          }
        }
      }
    }
  }