.content__leatest {
  text-align: center;
  h1 {
    font-family: "Josefin Sans";
    font-size: 42px;
    line-height: 49px;
    margin-top: 71px;
    /* Text */

    color: #151875;
  }
  &__properties {
    a {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-left: 58px;
    }
    &__active {
      color: #fb2e86;
      text-decoration: underline;
    }
    &__noactive {
      color: #151875;
    }
  }
  &__products {
    display: grid;

    margin-top: 124.45px;
    grid-template-columns: 1080px;
    column-gap: 2%;
    justify-content: center;
    &__1 {
      display: flex;
      justify-content: center;
      gap: 2%;
      &__product1 {
        width: 303px;
        height: 304.96px;
        margin-bottom: 120px;

        display: flex;

        flex-direction: column;

        // box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        &__images {
          background-color: #f7f7f7;
          height: 269.96px;
          position: relative;
          text-align: center;
          &__sale {
            position: absolute;
          }
          &__vector {
            display: none;
            // position: absolute;
            // display: flex;
            // flex-direction: column;
            // text-align: center;
            // align-items: center;
            // gap: 17px;
          }
          img {
            max-width: 100%;
            left: 50%;

            height: 100%;
            /* bottom: -97px; */
            //transform: translate(11%);
          }
        }
        &__info {
          display: flex;

          margin-top: 15.59px;
          // height: 175px;
          font-family: "Josefin Sans";
          justify-content: space-between;
          h2 {
            font-family: "Lato";
            font-size: 16px;
            line-height: 19px;
            margin-right: 0px;
            margin: 0px;
            /* Text */

            color: #151875;
          }
          &__code {
            display: flex;
            text-align: center;
            align-items: center;
            gap: 12px;
            /* Text */

            p {
              font-family: "Josefin Sans";
              font-size: 14px;
              line-height: 16px;
              margin: 0px;

              /* Text */

              color: #151875;
            }
            span {
              font-size: 12px;
              line-height: 14px;
              text-decoration-line: line-through;
              color: #fb2448;
            }
          }
        }
      }
    }
  }
}
#leatest__mobile{
  display: none;
}
.content__leatest__products__product1:hover {
  .content__leatest__products__product1__images__vector {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 17px;
  }
}
@media screen and (max-width: 37.4375em) {
  #leatest__desktop{
    display: none;
  }
  #leatest__mobile{
    display: block;
  }
  .content__leatest {
    max-width: 98%;
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
  }
  .content__leatest__products {
    display: grid;
    grid-template-columns: 90%;
    height: auto;
    justify-content: center;
    row-gap: 10px;
  }
  .content__leatest__properties {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    a {
      margin-left: 0;
    }
  }

  .content__leatest__products__1__product {
    margin-bottom: 0;
  }
  .content__leatest__products__1__product__images img {
    width: 90%;
    height: 90%;
  }
  .content__leatest__products__1__product1__images img {
    width: 90%;
    height: 90%;
  }
  .content__leatest__products__1__product1 {
    margin-bottom: 10%;
  }
  .content__leatest__products__1__product1__info {
    justify-content: center;
  }
  .content__leatest__products__1__product1__info h2 {
    margin-right: 20px;
  }
  .content__leatest__products__1__product1__images__sale img {
    width: 60%;
    height: 100%;
  }
  // .content__leatest__products__product1__images__vector {
  //   transform: translateX(-100px);
  // }
  .content__leatest__products__1__product1__images__vector img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 37.5em) and(max-width:48.0625em) {
  #leatest__mobile{
  display: none;
}
  .content__leatest__products__1__product1__images__vector img {
    width: 10px;
    height: 10px;
  }
  .content__leatest__products {
    grid-template-columns: 90%;
    &__product {
      // height: 425px;
      margin-bottom: 15%;
      &__images {
        height: 80%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &__info {
        margin-top: 17%;
        h2 {
          font-size: 12px;
          line-height: 10px;
        }
        p {
          font-size: 11px;
          line-height: 11px;
        }
        span {
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
    &__product1 {
      // height: 425px;
      margin-bottom: 15%;
      &__images {
        height: 80%;
        width: 100%;
        img {
          width: 100%;
          height: 80%;
          transform: none;
          left: 50%;
        }
        &__vector {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      &__info {
        margin-top: 17%;
        h2 {
          font-size: 12px;
          line-height: 10px;
        }
        p {
          font-size: 11px;
          line-height: 11px;
        }
        span {
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
  }
}
@media screen and (min-width: 48.125em) and (max-width: 77.5em) {
  .content__leatest__products {
    grid-template-columns: 80%;
  }
}
