$mobile-width: 600px;
$tablet-width: 1024px;
@mixin mobile() {
  @media only screen and (max-width: $mobile-width) {
      .content{
        display: none;
      }
  }
}

@mixin tablet() {
  @media only screen and (max-width: $tablet-width) {
    //  @content;
  }
}