.content__topcategories {
  h1 {
    font-family: "Josefin Sans";
    font-size: 42px;
    line-height: 49px;
    text-align: center;

    /* Text */

    color: #151875;
  }
  &__categories {
    display: grid;
    grid-template-columns: 269px 269px 269px 269px;
    column-gap: 39px;
    justify-content: center;
    &__category {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__image {
        position: relative;
        width: 269px;
        height: 269px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f6f7fb;
        border-radius: 50%;
        box-shadow: -4px 4px #9877e7;
        img {
          object-fit: cover;
        }
        button {
          position: absolute;
          width: 94px;
          height: 29px;
          background: #08d15f;
          outline: none;
          border: none;
          border-radius: 2px;
          left: 50%;
          bottom: 12px;
          transform: translate(-50%);
          font-family: "Josefin Sans";
          font-size: 12px;
          line-height: 14px;

          color: #ffffff;
        }
      }
      &__text {
        &__title {
          display: flex;
          justify-content: center;
          &__1 {
            font-family: "Josefin Sans";
            font-size: 20px;
            line-height: 23px;
            color: #151875;
          }
          &__2 {
            font-family: "Josefin Sans";
            font-size: 20px;
            line-height: 23px;
            color: #151875;
          }
          &__3 {
            font-family: "Josefin Sans";
            font-size: 20px;
            line-height: 23px;
            color: #151875;
          }
        }
        &__price {
          p {
            font-family: "Josefin Sans";
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            /* Text */

            color: #151875;
          }
        }
      }
    }
    &__category1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__image {
        width: 269px;
        height: 269px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f6f7fb;
        border-radius: 50%;
        // box-shadow: -4px 4px   #9877E7;;
        img {
          object-fit: cover;
        }
      }
      &__text {
        &__title {
          display: flex;
          justify-content: center;
          &__1 {
            font-family: "Josefin Sans";
            font-size: 20px;
            line-height: 23px;
            color: #151875;
          }
          &__2 {
            font-family: "Josefin Sans";
            font-size: 20px;
            line-height: 23px;
            color: #151875;
          }
          &__3 {
            font-family: "Josefin Sans";
            font-size: 20px;
            line-height: 23px;
            color: #151875;
          }
        }
        &__price {
          p {
            font-family: "Josefin Sans";
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            /* Text */

            color: #151875;
          }
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    &__active {
      width: 10px;
      height: 9.89px;
      background: #fb2e86;
      border: 1px solid;
      border-radius: 5px;
    }
    &__noactive {
      width: 10px;
      height: 9.89px;
      border: 1px solid #fb2e86;
      border-radius: 50%;
    }
  }
}
@media screen and(max-width:48em) {
  .content__topcategories {
    width: 98%;
    h1 {
      font-size: 36px;
      line-height: 36px;
    }
    &__footer {
      display: none;
    }
    &__categories {
      display: grid;
      grid-template-columns: 48% 48%;
      column-gap: 10px;
      justify-content: center;
      margin-left: 10px;
      &__category {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        &__image {
          width: 150px;
          height: 150px;
          img {
            width: 120px;
            height: 120px;
          }
        }
        &__text {
          p {
            font-size: 15px;
            line-height: 15px;
            color: #151875;
            margin: 5px 0px;
          }
        }
      }
      &__category1 {
        &__image {
          width: 150px;
          height: 150px;
          img {
            width: 120px;
            height: 120px;
          }
        }
        &__text {
          p {
            font-size: 15px;
            line-height: 15px;
            color: #151875;
            margin: 5px 0px;
          }
          // &__title {
          // }
        }
      }
    }
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 92em) {
  .content__topcategories__categories__category__image {
    max-width: 200px;
    height: 200px;
  }
  .content__topcategories__categories__category1__image {
    max-width: 200px;
    height: 200px;
  }
  .content__topcategories__categories {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
     column-gap: 0; 
    justify-content: center;
}
}
