#trending__mobile{
  display: none;
}
.content__trending {
  h2 {
    font-family: "Josefin Sans";
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 39px;
    text-align: center;
    /* Text */

    color: #151875;
  }
  &__products {
    display: grid;
    grid-template-columns: 1080px;
    justify-content: center;
    margin: 0px 277px 29px;
    column-gap: 29px;
    &__1{
      display: flex;
      justify-content: center;
      gap: 15px;
      &__product {
        width: 270px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
  
        background: linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
       
        &__price {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          column-gap: 12px;
          padding-top: 8px;
          p {
            font-family: "Josefin Sans";
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            margin: 0;
  
            /* Text */
  
            color: #151875;
          }
          span {
            font-family: "Josefin Sans";
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: line-through;
  
            color: rgba(21, 24, 117, 0.3);
          }
        }
        &__image {
          padding-top: 100%;
          position: relative;
          background-color: #f5f6f8;
          // margin: 11px 12px 15px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            max-width: 100%;
            height: 100%;
          }
        }
        h3 {
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          /* identical to box height, or 160% */
  
          text-align: center;
          margin: 0;
  
          /* Text */
  
          color: #151875;
        }
      }
    }
  }
  &__allproducts {
    display: flex;
    justify-content: center;
    &__left {
      width: 420px;
      height: 270px;
      background-color: #fff6fb;
      text-align: left;
      position: relative;
      margin-right: 29px;

      /* shadow */

      box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
      &__title {
        position: absolute;
        padding-left: 29px;
        p {
          font-family: "Josefin Sans";
          font-size: 26px;
          line-height: 30px;
          padding-top: 34px;
          margin: 0;
        }

        /* Text */

        color: #151875;
        a {
          // position: absolute;
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          text-decoration-line: underline;
          margin-top: 71px;
          text-decoration: underline;

          /* Accent */

          color: #fb2e86;
        }
      }

      img {
        position: absolute;
        right: 6px;
        bottom: 2px;
      }
    }
    &__center {
      width: 420px;
      height: 270px;
      background-color: #eeeffb;
      text-align: left;
      position: relative;
      margin-right: 29px;

      /* shadow */

      box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
      &__title {
        position: absolute;
        padding-left: 29px;
        p {
          font-family: "Josefin Sans";
          font-size: 26px;
          line-height: 30px;
          margin: 0;
          margin-top: 34px;

          /* Text */

          color: #151875;
        }
        a {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          text-decoration-line: underline;
          margin-top: 71px;
          text-decoration: underline;

          /* Accent */

          color: #fb2e86;
        }
      }

      img {
        position: absolute;
        right: 6px;
        bottom: 2px;
      }
    }
    &__right {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 20px;
      &__product {
        display: flex;
        &__image {
          width: 107px;
          height: 74px;
          background: #f5f6f8;
        }
        &__info {
          padding-left: 9px;
          p {
            font-family: "Josefin Sans";
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            width: 151px;
            height: 16px;
            margin-bottom: 5px;
            /* Text */

            color: #151875;
          }
          span {
            font-family: "Josefin Sans";
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: line-through;

            /* Text */

            color: #151875;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 63.9375em) {
  #trending__mobile{
    display: block;
  }
  #trending__desktop{
    display: none;
  }
  .content__trending__allproducts {
    display: none;
  }
  .content__trending {
    max-width: 98%;
    h2 {
      font-size: 36px;
      line-height: 36px;
    }
    &__products {
      display: grid;
      grid-template-columns: 100%;
      height: auto;
      margin: 0;
      gap: 0;
      &__product {
        &__image {
          img {
            width: 100%;
            height: 100%;
            
          }
        }
      }
    }
  }
}
@media screen and (min-width: 64em) and(max-width:92em) {
  .content__trending__products {
    display: grid;
    grid-template-columns:100%;
    justify-content: center;
    max-width: 98%;
    margin: 0;
    column-gap: 0;
  }
  .content__trending__allproducts {
    max-width: 98%;
    margin-top: 7%;
  }
}
